In [4]:
import geopandas as gpd
import numpy as np
from shapely.geometry import Point

# Step 1: Load GeoJSON and extract Phnom Penh polygon
cambodia = gpd.read_file("/Users/thekhemfee/Downloads/Intelligent_Loan_Approval/frontend/geoBoundaries-KHM-ADM1_simplified.geojson")

# Ensure CRS is set (should be WGS84)
cambodia = cambodia.to_crs("EPSG:4326")

# Focus only on Phnom Penh
phnom_penh = cambodia[cambodia['shapeName'].str.contains("Phnom Penh", case=False)].geometry.values[0]
# OR you can print shapeName column to be sure:
# print(cambodia['shapeName'].unique())

# Step 2: Define function to check if a point is inside Phnom Penh
def is_inside_phnom_penh(lat, lon):
    point = Point(lon, lat)  # Important: Point(lon, lat)
    return phnom_penh.contains(point)

# Step 3: Generate random lat/lon inside Phnom Penh
generated_points = []
while len(generated_points) < 200:
    lat = np.round(np.random.uniform(11.45, 11.65), 6)
    lon = np.round(np.random.uniform(104.8, 105.05), 6)
    if is_inside_phnom_penh(lat, lon):
        generated_points.append((lat, lon))

# Now you have 1000 points on land inside Phnom Penh
print(f"Generated {len(generated_points)} valid points.")

Generated 200 valid points.

In [5]:
import random
from datetime import datetime, timedelta
import pandas as pd
import os

types = ["General Retail", "Electronics & Appliances", "Fashion & Clothing", "Restaurant/CafÃ©",
            "Street Food Stall", "Beauty Salon", "Repair Services", "Tourism/Hospitality",
            "Agriculture/Farming"]
characters = ["Friendly and Open", "Quiet and Reserved", "Talkative and Engaging", "Skeptical or Distrustful",
              "Busy or in a Hurry", "Uninterested", "Interested but Cautious", "Very Welcoming", 
              "Aggressive or Pushy", "Hard to Understand"]
loan_histories = ['Never', 'Once', 'Many times']
banks = ['ABA', 'ACLEDA', 'Wing', 'Cambodia Post Bank', 'None']
terms = ['6M', '12M', '18M', '24M']
rm_codes = [f"RM{str(i).zfill(3)}" for i in range(1, 11)]

available_images = os.listdir("/Users/thekhemfee/Downloads/Customer_Network/customer_images") if os.path.exists("/Users/thekhemfee/Downloads/Customer_Network/customer_images") else []

data = []
for i, (lat, lon) in enumerate(generated_points):
    if available_images:
        image_path = random.choice(available_images)
        # Optionally prepend folder path if needed:
        image_path = os.path.join("/Users/thekhemfee/Downloads/Customer_Network/customer_images", image_path)
    else:
        image_path = None
    data.append({
        "name": f"Customer {i+1}",
        "phone": f"010{i:04d}",
        "type": random.choice(types),
        "character": random.choice(characters),
        "loan_his": random.choice(loan_histories),
        "bank": random.choice(banks),
        "amount": round(random.uniform(500, 10000), 2),
        "term": random.choice(terms),
        "address": f"Street {random.randint(1, 500)}, Phnom Penh",
        "lat": lat,
        "lon": lon,
        "notes": random.choice(["Interested", "Need follow-up", "No answer", "Repeat visit"]),
        "time_visit": f"{random.randint(1, 12)}:00 AM",
        "image_path": random.choice(available_images) if available_images and random.random() > 0.8 else None,
        "timestamp": (datetime.now() - timedelta(days=random.randint(0, 30))).strftime("%Y-%m-%d %H:%M:%S"),
        "RM_Code": random.choice(rm_codes)
    })

df = pd.DataFrame(data)

In [6]:
df

,name,phone,type,character,loan_his,bank,amount,term,address,lat,lon,notes,time_visit,image_path,timestamp,RM_Code
0,Customer 1,0100000,Fashion & Clothing,Quiet and Reserved,Many times,None,1431.04,6M,"Street 241, Phnom Penh",11.518145,104.984668,No answer,4:00 AM,None,2025-05-27 21:40:48,RM001
1,Customer 2,0100001,Street Food Stall,Interested but Cautious,Once,Cambodia Post Bank,7426.85,24M,"Street 410, Phnom Penh",11.611481,104.929535,Repeat visit,9:00 AM,None,2025-06-04 21:40:48,RM003
2,Customer 3,0100002,Agriculture/Farming,Skeptical or Distrustful,Once,Cambodia Post Bank,6067.13,18M,"Street 108, Phnom Penh",11.513828,104.850546,Repeat visit,8:00 AM,None,2025-05-27 21:40:48,RM010
3,Customer 4,0100003,General Retail,Very Welcoming,Many times,None,9172.39,12M,"Street 88, Phnom Penh",11.613028,104.890322,Interested,12:00 AM,None,2025-05-26 21:40:48,RM003
4,Customer 5,0100004,Tourism/Hospitality,Very Welcoming,Many times,ABA,9612.58,6M,"Street 236, Phnom Penh",11.467825,104.825619,Repeat visit,10:00 AM,None,2025-06-04 21:40:48,RM010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Customer 196,0100195,Restaurant/CafÃ©,Aggressive or Pushy,Never,None,6432.83,24M,"Street 465, Phnom Penh",11.522728,105.015166,Interested,9:00 AM,None,2025-06-19 21:40:48,RM006
196,Customer 197,0100196,Repair Services,Uninterested,Never,ABA,2223.71,12M,"Street 207, Phnom Penh",11.539554,104.884481,Repeat visit,7:00 AM,2025-06-23 01.02.19.jpg,2025-05-27 21:40:48,RM009
197,Customer 198,0100197,Agriculture/Farming,Very Welcoming,Never,ABA,2778.98,12M,"Street 364, Phnom Penh",11.619453,104.833265,Repeat visit,7:00 AM,None,2025-06-10 21:40:48,RM010
198,Customer 199,0100198,Tourism/Hospitality,Hard to Understand,Never,Cambodia Post Bank,3345.24,6M,"Street 290, Phnom Penh",11.453808,104.820787,Interested,8:00 AM,None,2025-06-19 21:40:48,RM004
199,Customer 200,0100199,Tourism/Hospitality,Aggressive or Pushy,Once,None,3536.73,18M,"Street 138, Phnom Penh",11.500475,105.006659,Interested,8:00 AM,None,2025-06-12 21:40:48,RM007

In [7]:
import sqlite3

DB_NAME = "customer_locations.db"

with sqlite3.connect(DB_NAME) as conn:
    c = conn.cursor()
    for _, row in df.iterrows():
        c.execute("""
            INSERT INTO locations (
                name, phone, type, character, loan_his, bank, amount, term,
                address, lat, lon, notes, time_visit, image_path, timestamp, RM_Code
            ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,?)
        """, (
            row['name'], row['phone'], row['type'], row['character'], row['loan_his'], row['bank'], 
            row['amount'], row['term'], row['address'], row['lat'], row['lon'], 
            row['notes'], row['time_visit'], row['image_path'], row['timestamp'], row['RM_Code']
        ))
    conn.commit()

In [8]:
df

,name,phone,type,character,loan_his,bank,amount,term,address,lat,lon,notes,time_visit,image_path,timestamp,RM_Code
0,Customer 1,0100000,Fashion & Clothing,Quiet and Reserved,Many times,None,1431.04,6M,"Street 241, Phnom Penh",11.518145,104.984668,No answer,4:00 AM,None,2025-05-27 21:40:48,RM001
1,Customer 2,0100001,Street Food Stall,Interested but Cautious,Once,Cambodia Post Bank,7426.85,24M,"Street 410, Phnom Penh",11.611481,104.929535,Repeat visit,9:00 AM,None,2025-06-04 21:40:48,RM003
2,Customer 3,0100002,Agriculture/Farming,Skeptical or Distrustful,Once,Cambodia Post Bank,6067.13,18M,"Street 108, Phnom Penh",11.513828,104.850546,Repeat visit,8:00 AM,None,2025-05-27 21:40:48,RM010
3,Customer 4,0100003,General Retail,Very Welcoming,Many times,None,9172.39,12M,"Street 88, Phnom Penh",11.613028,104.890322,Interested,12:00 AM,None,2025-05-26 21:40:48,RM003
4,Customer 5,0100004,Tourism/Hospitality,Very Welcoming,Many times,ABA,9612.58,6M,"Street 236, Phnom Penh",11.467825,104.825619,Repeat visit,10:00 AM,None,2025-06-04 21:40:48,RM010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Customer 196,0100195,Restaurant/CafÃ©,Aggressive or Pushy,Never,None,6432.83,24M,"Street 465, Phnom Penh",11.522728,105.015166,Interested,9:00 AM,None,2025-06-19 21:40:48,RM006
196,Customer 197,0100196,Repair Services,Uninterested,Never,ABA,2223.71,12M,"Street 207, Phnom Penh",11.539554,104.884481,Repeat visit,7:00 AM,2025-06-23 01.02.19.jpg,2025-05-27 21:40:48,RM009
197,Customer 198,0100197,Agriculture/Farming,Very Welcoming,Never,ABA,2778.98,12M,"Street 364, Phnom Penh",11.619453,104.833265,Repeat visit,7:00 AM,None,2025-06-10 21:40:48,RM010
198,Customer 199,0100198,Tourism/Hospitality,Hard to Understand,Never,Cambodia Post Bank,3345.24,6M,"Street 290, Phnom Penh",11.453808,104.820787,Interested,8:00 AM,None,2025-06-19 21:40:48,RM004
199,Customer 200,0100199,Tourism/Hospitality,Aggressive or Pushy,Once,None,3536.73,18M,"Street 138, Phnom Penh",11.500475,105.006659,Interested,8:00 AM,None,2025-06-12 21:40:48,RM007

In [27]:
import pandas as pd
with sqlite3.connect(DB_NAME) as conn:
    df = pd.read_sql_query("SELECT * FROM locations LIMIT 10", conn)
    print(df)

     id         name    phone                      type  \
0  5803   Customer 1  0100000       Agriculture/Farming
1  5804   Customer 2  0100001       Agriculture/Farming
2  5805   Customer 3  0100002           Repair Services
3  5806   Customer 4  0100003       Agriculture/Farming
4  5807   Customer 5  0100004  Electronics & Appliances
5  5808   Customer 6  0100005       Agriculture/Farming
6  5809   Customer 7  0100006              Beauty Salon
7  5810   Customer 8  0100007              Beauty Salon
8  5811   Customer 9  0100008         Street Food Stall
9  5812  Customer 10  0100009              Beauty Salon

                  character    loan_his                bank   amount term  \
0        Quiet and Reserved        Once                 ABA  1611.93  24M
1        Hard to Understand       Never                None  3302.17  24M
2  Skeptical or Distrustful        Once              ACLEDA  4520.84  24M
3   Interested but Cautious        Once                None   611.89  18M
4        Quiet and Reserved        Once                Wing  6398.00  24M
5       Aggressive or Pushy  Many times  Cambodia Post Bank  3587.49   6M
6         Friendly and Open        Once                Wing  4545.44  24M
7        Hard to Understand        Once              ACLEDA  6115.86  12M
8            Very Welcoming       Never              ACLEDA  3838.71   6M
9        Quiet and Reserved       Never                 ABA  1290.25   6M

                  address        lat         lon           notes time_visit  \
0  Street 423, Phnom Penh  11.617198  104.855447      Interested   10:00 AM
1   Street 70, Phnom Penh  11.558342  104.938288  Need follow-up   12:00 AM
2  Street 391, Phnom Penh  11.485734  104.834298    Repeat visit    2:00 AM
3  Street 134, Phnom Penh  11.612009  104.822948  Need follow-up   11:00 AM
4  Street 141, Phnom Penh  11.458191  104.914828    Repeat visit   10:00 AM
5   Street 84, Phnom Penh  11.510338  104.841020  Need follow-up    8:00 AM
6  Street 320, Phnom Penh  11.525256  104.996925    Repeat visit    2:00 AM
7  Street 287, Phnom Penh  11.485119  104.872220       No answer    9:00 AM
8  Street 444, Phnom Penh  11.619298  104.930200    Repeat visit   10:00 AM
9  Street 287, Phnom Penh  11.544882  104.944004       No answer    2:00 AM

                image_path            timestamp RM_Code
0                     None  2025-06-19 16:50:33   RM003
1  2025-06-23 01.04.08.jpg  2025-05-29 16:50:33   RM004
2                     None  2025-06-22 16:50:33   RM006
3  2025-06-23 01.02.34.jpg  2025-06-07 16:50:33   RM006
4                     None  2025-06-20 16:50:33   RM005
5                     None  2025-06-04 16:50:33   RM001
6  2025-06-23 01.04.08.jpg  2025-06-21 16:50:33   RM002
7                     None  2025-06-11 16:50:33   RM005
8                     None  2025-06-01 16:50:33   RM006
9                     None  2025-06-13 16:50:33   RM004

In [ ]:
def clear_all_data():
    with sqlite3.connect(DB_NAME) as conn:
        c = conn.cursor()
        c.execute("DELETE FROM locations")
        conn.commit()
        print("All data deleted.")

# Run it once
#clear_all_data()

All data deleted.

In [19]:
import sqlite3
import pandas as pd

DB_NAME = "customer_locations.db"

def load_from_db():
    """Load all customer data from database"""
    with sqlite3.connect(DB_NAME) as conn:
        return pd.read_sql_query("SELECT * FROM locations", conn)

# Example usage
df = load_from_db()
print(df.head())

     id        name    phone                      type  \
0  5602  Customer 1  0100000           Repair Services
1  5603  Customer 2  0100001            General Retail
2  5604  Customer 3  0100002            General Retail
3  5605  Customer 4  0100003              Beauty Salon
4  5606  Customer 5  0100004  Electronics & Appliances

                  character    loan_his                bank   amount term  \
0   Interested but Cautious       Never  Cambodia Post Bank  7634.18  18M
1  Skeptical or Distrustful  Many times                 ABA  7724.51   6M
2       Aggressive or Pushy       Never                Wing  6014.31  18M
3        Hard to Understand  Many times                 ABA  7858.33  12M
4        Quiet and Reserved       Never                 ABA  5436.97  24M

                  address        lat         lon           notes time_visit  \
0  Street 366, Phnom Penh  11.607455  104.885315       No answer    5:00 AM
1   Street 43, Phnom Penh  11.512585  104.861285      Interested    6:00 AM
2  Street 382, Phnom Penh  11.531054  105.016407  Need follow-up    6:00 AM
3  Street 169, Phnom Penh  11.507559  104.985888       No answer    6:00 AM
4  Street 120, Phnom Penh  11.514494  104.900268       No answer    8:00 AM

  image_path            timestamp RM_Code
0       None  2025-05-30 02:02:32    None
1       None  2025-05-27 02:02:32    None
2       None  2025-06-03 02:02:32    None
3       None  2025-05-31 02:02:32    None
4       None  2025-06-17 02:02:32    None

In [93]:
df.describe()

                id       amount         lat         lon
count   200.000000   200.000000  200.000000  200.000000
mean   5701.500000  5353.913500   11.542482  104.902969
std      57.879185  2777.201479    0.053530    0.065748
min    5602.000000   514.130000   11.450559  104.801059
25%    5651.750000  2724.530000   11.500784  104.844665
50%    5701.500000  5991.965000   11.534993  104.900639
75%    5751.250000  7634.127500   11.585060  104.953134
max    5801.000000  9931.340000   11.649125  105.035421

In [11]:
def build_data_context(filtered_data):
    rows = []
    for _, row in filtered_data.iterrows():
        rows.append(
            f"Name: {row['name']}, Type: {row['type']}, Character: {row['character']}, "
            f"Amount: {row['amount']}, RM: {row.get('RM_Code', '')}, Zone: {row.get('cluster', 'N/A')}"
        )
    return "\n".join(rows[:200])  # Limit for performance

In [12]:
import requests
def query_llama_with_context(question, context):
    prompt = f"""
    You are a banking data assistant. Based on the customer dataset below, answer the user question:

    Customer Data:
    {context}

    Question:
    {question}

    Answer:
    """
    response = requests.post(
        "http://localhost:11434/api/generate",
        json={"model": "llama3.2", "prompt": prompt, "stream": False}
    )
    return response.json()["response"]

In [14]:
context = build_data_context(df)
question = [
    "Summarize the top 3 zones by customer density.",
    "What customer character is most common in Zone 1?",
    "What types of businesses dominate in Zone 3?",
]
answer = query_llama_with_context(question, context)
answer

"Here are the answers to the questions:\n\n**Question 1: Summarize the top 3 zones by customer density.**\n\nAfter analyzing the data, I can provide a summary of the top 3 zones by customer density.\n\nZone 1 (RM 1): With an average customer value of RM 9,115, Zone 1 has the highest concentration of customers. The zone is dominated by Tourism/Hospitality businesses, with a total of 45 establishments, followed by Fashion & Clothing and Repair Services.\n\nZone 2 (RM 3-4): This zone has an average customer value of RM 7,431, indicating a moderate level of customer density. The zone is largely composed of Beauty Salons, Restaurants/Cafes, and Fashion & Clothing businesses.\n\nZone 5 (RM 9): With an average customer value of RM 6,355, Zone 5 has the lowest concentration of customers compared to other zones. The zone is dominated by Street Food Stalls, Repair Services, and Agriculture/Farming businesses.\n\nPlease note that these summaries are based on a specific dataset provided and may not be representative of all possible business zones or customer demographics.\n\n**Question 2: What customer character is most common in Zone 1?**\n\nAfter analyzing the data, I found that the most common customer character in Zone 1 (RM 1) is 'Very Welcoming', appearing in 21 establishments. This suggests that customers who visit businesses in this zone are generally welcoming and open to new experiences.\n\n**Question 3: What types of businesses dominate in Zone 3?**\n\nAfter analyzing the data, I found that Zone 3 (RM 7-8) is dominated by Street Food Stalls, Repair Services, and Agriculture/Farming businesses. Specifically:\n\n* 44 establishments are Street Food Stalls\n* 23 establishments are Repair Services\n* 17 establishments are Agriculture/Farming businesses\n\nThese types of businesses seem to thrive in Zone 3, with a total average customer value of RM 6,455."

In [16]:
df

,name,phone,type,character,loan_his,bank,amount,term,address,lat,lon,notes,time_visit,image_path,timestamp,RM_Code
0,Customer 1,0100000,Fashion & Clothing,Quiet and Reserved,Many times,None,1431.04,6M,"Street 241, Phnom Penh",11.518145,104.984668,No answer,4:00 AM,None,2025-05-27 21:40:48,RM001
1,Customer 2,0100001,Street Food Stall,Interested but Cautious,Once,Cambodia Post Bank,7426.85,24M,"Street 410, Phnom Penh",11.611481,104.929535,Repeat visit,9:00 AM,None,2025-06-04 21:40:48,RM003
2,Customer 3,0100002,Agriculture/Farming,Skeptical or Distrustful,Once,Cambodia Post Bank,6067.13,18M,"Street 108, Phnom Penh",11.513828,104.850546,Repeat visit,8:00 AM,None,2025-05-27 21:40:48,RM010
3,Customer 4,0100003,General Retail,Very Welcoming,Many times,None,9172.39,12M,"Street 88, Phnom Penh",11.613028,104.890322,Interested,12:00 AM,None,2025-05-26 21:40:48,RM003
4,Customer 5,0100004,Tourism/Hospitality,Very Welcoming,Many times,ABA,9612.58,6M,"Street 236, Phnom Penh",11.467825,104.825619,Repeat visit,10:00 AM,None,2025-06-04 21:40:48,RM010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Customer 196,0100195,Restaurant/CafÃ©,Aggressive or Pushy,Never,None,6432.83,24M,"Street 465, Phnom Penh",11.522728,105.015166,Interested,9:00 AM,None,2025-06-19 21:40:48,RM006
196,Customer 197,0100196,Repair Services,Uninterested,Never,ABA,2223.71,12M,"Street 207, Phnom Penh",11.539554,104.884481,Repeat visit,7:00 AM,2025-06-23 01.02.19.jpg,2025-05-27 21:40:48,RM009
197,Customer 198,0100197,Agriculture/Farming,Very Welcoming,Never,ABA,2778.98,12M,"Street 364, Phnom Penh",11.619453,104.833265,Repeat visit,7:00 AM,None,2025-06-10 21:40:48,RM010
198,Customer 199,0100198,Tourism/Hospitality,Hard to Understand,Never,Cambodia Post Bank,3345.24,6M,"Street 290, Phnom Penh",11.453808,104.820787,Interested,8:00 AM,None,2025-06-19 21:40:48,RM004
199,Customer 200,0100199,Tourism/Hospitality,Aggressive or Pushy,Once,None,3536.73,18M,"Street 138, Phnom Penh",11.500475,105.006659,Interested,8:00 AM,None,2025-06-12 21:40:48,RM007

In [15]:
context = build_data_context(df)

questions = [
    "Summarize the top 3 zones by customer density.",
    "What customer character is most common in Zone 1?",
    "What types of businesses dominate in Zone 3?",
]

print("ð¤ AI Responses\n")

for q in questions:
    answer = query_llama_with_context(q, context)
    print(f"â Question: {q}")
    print(f"ð¬ Answer: {answer}\n")
    print("-" * 50)

ð¤ AI Responses

â Question: Summarize the top 3 zones by customer density.
ð¬ Answer: Based on the provided data, I calculated the total number of customers per zone and then ranked them in descending order to determine the top 3 zones by customer density. Here is a summary:

1. Zone RM007: With 24 instances (out of 200), this zone has the highest density of customers.
2. Zone RM004: This zone has 20 instances, making it the second most densely populated zone.
3. Zone RM001: With 19 instances, this zone takes third place.

These results can be visually represented by a bar chart or histogram to further illustrate the customer distribution across different zones.

--------------------------------------------------
â Question: What customer character is most common in Zone 1?
ð¬ Answer: To determine the most common customer character in Zone 1, we need to analyze the data provided.

From the provided data, I can see that there are 200 customers with a total of 20 characters. To find the most common character, I will count the occurrences of each character:

- Very Welcoming: 14
- Friendly and Open: 13
- Quiet and Reserved: 12
- Busy or in a Hurry: 8
- Interested but Cautious: 7
- Hard to Understand: 6
- Uninterested: 3
- Aggressive or Pushy: 3

The most common customer character in Zone 1 is "Very Welcoming" with 14 occurrences.

--------------------------------------------------
â Question: What types of businesses dominate in Zone 3?
ð¬ Answer: Unfortunately, the provided data does not specify a Zone 3. The text only mentions various zones (1-10) but does not provide information about specific business distributions or dominance within each zone.

However, if you'd like to know which types of businesses are present in the data set, I can help with that:

Here's an overview of the top 5 most common business types based on the provided data:

1. **Street Food Stall**: This type appears in 19 records.
2. **Beauty Salon**: This type appears in 24 records.
3. **Fashion & Clothing**: This category appears in 37 records, with some sub-types like "Friendly and Open" and "Quiet and Reserved".
4. **Restaurant/CafÃ©**: This type appears in 12 records.
5. **Repair Services**: This type appears in 17 records.

Please note that this is an incomplete analysis, as the data does not provide information on specific zones or business types within those zones. If you need more detailed insights, please consider providing additional context or clarifying your question.

--------------------------------------------------

In [19]:
context = build_data_context(df)

questions = [
    "Based on dataset , do me as report for description of first 10 customer. Name in dataset refer to customer name, RM_COde refer to RM code. This report will provide to sale team to get customer insight before they go to customer" 
]
print("ð¤ AI Responses\n")

for q in questions:
    answer = query_llama_with_context(q, context)
    print(f"â Question: {q}")
    print(f"ð¬ Answer: {answer}\n")
    print("-" * 50)

ð¤ AI Responses

â Question: Based on dataset , do me as report for description of first 10 customer. Name in dataset refer to customer name, RM_COde refer to RM code. This report will provide to sale team to get customer insight before they go to customer
ð¬ Answer: Here is the report for the first 10 customers based on the provided dataset:

**Customer Insights Report**

**Top 10 Customer Names and RM Codes:**

1. **Customer 161**: RM Code = `RM001`
2. **Customer 174**: RM Code = `RM006`
3. **Customer 180**: RM Code = `RM003`
4. **Customer 168**: RM Code = `RM001`
5. **Customer 189**: RM Code = `RM010`
6. **Customer 193**: RM Code = `RM005`
7. **Customer 187**: RM Code = `RM001`
8. **Customer 192**: RM Code = `RM007`
9. **Customer 182**: RM Code = `RM004`
10. **Customer 195**: RM Code = `RM001`

**Insights:**

* Most customers (6 out of 10) have an RM code starting with `RM001`, indicating a strong presence in the market.
* Some customers (e.g., Customer 174, RM Code = `RM006`) seem to be more focused on welcoming and friendly interactions.
* Customers with codes like `RM010` (Customer 189) and `RM005` (Customer 193) may require special attention or have unique requirements.

**Recommendations:**

* The sales team should prioritize building relationships with customers in the `RM001` group to maximize sales opportunities.
* For customer 174, RM Code = `RM006`, consider emphasizing the welcoming nature of their interactions to create a positive experience for future purchases.
* Customers with codes like `RM010` and `RM005` may require additional support or resources; the sales team should investigate these further.

This report aims to provide initial insights into customer behavior and preferences, helping the sales team better understand their target audience before engaging with them.

--------------------------------------------------

In [21]:
context = build_data_context(df)

questions = [
    "Tell me about name Customer 1" 
]
print("ð¤ AI Responses\n")

for q in questions:
    answer = query_llama_with_context(q, context)
    print(f"â Question: {q}")
    print(f"ð¬ Answer: {answer}\n")
    print("-" * 50)

ð¤ AI Responses

â Question: Tell me about name Customer 1
ð¬ Answer: I don't have any information about a customer named "Customer 1" since you didn't provide enough context or data to identify them. The provided text appears to be a list of customer names and corresponding details, but it doesn't include any specific information about a customer with the name "Customer 1". If you could provide more context or clarify which customer you are referring to, I'll do my best to help.

--------------------------------------------------